.container {
  padding: 0;
}
.formContainer {
  margin:0 auto;
  @apply flex w-full max-w-lg justify-center;
}
.registerForm {
  @apply w-full rounded-lg shadow-lg bg-gray-50 px-5 pt-5 pb-5 mt-20 mb-20;
}
.title {
  padding-top: calc(100vh / 6);
  @apply text-center capitalize;
}
.description {
  @apply leading-6 my-4 mx-0 text-base text-center;
}
